-- Adicionar configuração de URL do agendamento online nas configurações globais
INSERT INTO configuracoes_globais (chave, valor, tipo, categoria, descricao, ordem) 
VALUES (
  'url_agendamento_online', 
  'https://businessapp-web.vercel.app', 
  'url', 
  'geral', 
  'URL base do sistema de agendamento online (será concatenada com /[slug] do estabelecimento)', 
  5
)
ON CONFLICT (chave) DO UPDATE 
SET 
  valor = EXCLUDED.valor,
  tipo = EXCLUDED.tipo,
  categoria = EXCLUDED.categoria,
  descricao = EXCLUDED.descricao,
  ordem = EXCLUDED.ordem;
